<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ITEM</h1>
    <h1><%= item.title %> </h1>
    <section>
        <p> Description: <%= item.description %></p>
        <p> Days: <%= item.days %></p>
    </section>
    <ul>
        <% for(let itinerary of item.items) { %>
        <li> <%=  itinerary %> </li>
        <% } %> 
    </ul>
    <button><a href="/itinerary">Return</a></button>
    
    <!-- TESTING FUNCTION ONLY -->
    <form action="/itinerary/<%= item.id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>
</html>