<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ALL ITEM</h1>
        <ul>
            <% for(let itinerary of allItinerary) { %>
                    <ul><h3><%= itinerary.title %></h3>
                    <li><%= itinerary.description %> </li>
                    <li><%= itinerary.days %> </li>
                    <li><%= itinerary.items %> </li>
                    <li><a href='/itinerary/<%=itinerary._id%>'><button>Go to details</button></a></li>
                </ul>
                <% } %> 
        </ul>
    
</body>
</html>