<% layout('layout/boilerplate') %>

<body>
    <h1>Edit <%= item.title %></h1>
    <form action="/itinerary/<%= item._id %>?_method=PUT" method="POST">
        <label for="title">Title   </label>
        <input type="text" id='name' maxlength="20" name='title' value='<%= item.title %>'>  
        <br>
        <label for="location">Location:</label>
        <input type="text" id="location" name='location' maxlength="15" value='<%= item.location %>'>
        <br>
        <label for="description">Enter a short description about this plan:</label>
        <input type="text" maxlength="280" name='description' value='<%= item.description %>'>
        <br>
        <label for="traveler">What type of travelers?  Currently: <%= item.traveler %></label>
        <select name="traveler" id="traveler" value='<%= item.traveler %>'>
            <option value="Solo">Solo - For travelers who want to indulge in yourself</option>
            <option value="Couples">Couples - For romatic getaways with your significant others</option>
            <option value="Family">Family Friend - For trips with the family who may not be as adventerous</option>
            <option value="Friends">Group Trip - The more the merrier! </option>
            <option value="Mixed">Mixed - Good for anyone! </option>
        </select>
        <br>
        <label for="theme">What's the theme of this trip? Currently: <%= item.theme %></label>
        <select name="focus" id="theme">
            <option value="nature">Nature</option>
            <option value="resort">Resort</option>
            <option value="urban">Urban</option>
        </select>
        <br>
        <label for="days">Amount of day (Up to 7) Currently: <%= item.days %>:</label>
        <select name="days" id='days'>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select>
        <br>
        <br>
        <br>
        <h3>New Information:</h3>
        <section id='daysinput'>
            <label for="1">Day 1</label>
            <input type="text" id='items' name='items'>
        </section>
        <h3>Current Information:</h3>
        <br>
        <% item.items.forEach(element => { %>
             <%= element %>
             <br> 
        <% }) %>
        <br>
           <button>Update</button>
    </form>
    <a href="/itinerary/<%= item._id %>"><button>Return</button></a>
    <script src='/scripts/edit.js'></script>
</body>
</html>