<% layout('layout/boilerplate') %>
<head>
    <link rel="stylesheet" href="/css/user.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Edit <%= item.title %></h1>
    <section>
        <h2>Add Images</h2>
        <form action="/itinerary/<%= item._id %>/edit_photos/?_method=PUT" method="POST" enctype="multipart/form-data">
            <label class="form-label" for="images">Upload more image(s) to share</label>
            <input class="form-control-file" type="file" name="images" multiple>
            <br>
            <input type="submit" class="btn btn-info">
        </form>
        <h2>Remove Images</h2>
        <form action="/itinerary/<%= item._id %>/edit_photos/?_method=DELETE" method="POST">
            <% for (let i = 0; i < item.images.length; i++) { %>
                <img style="height: 200px; width: 200px; padding: 5px" src="<%= item.images[i].url %>">
                <input type="checkbox" id=<%= item.images[i]._id%> name='images' value=<%= item.images[i].url %>>
                <br>
            <% } %>
        <br>
        <input type="submit" class="btn btn-info">
        </form>
        
    </section>
    <br>
    <a href="/itinerary/<%= item._id %>" class='btn btn-success mb-2'>Return</a>
</body>