<% layout('layout/boilerplate') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/item.css">
    <!-- Required Core stylesheet -->
    <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.core.min.css">

    <!-- Optional Theme stylesheet -->
    <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.theme.min.css">
</head>
<body>
    
<section id='info'><div class="row">

    <div class="col-sm">
        <% if(success && success.length) {%>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>

        <% if(failure && failure.length) {%>
            <div class="alert alert-danger" role="alert">
                <%= failure %>
            </div>
        <% } %>

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <% item.images.forEach((pic, i) => { %>
                <div class="carousel-item<% if (i==0) { %> active<% } %>">
                    <img class="d-block w-100" src="<%= pic.url %>">
                </div>
                <% }) %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
        </div>
        <p><%= item.description %></p>

    
    </div>

    <div class="col-sm">
        <h3><%= item.title %></h1>
        <ul>
        <% for(let itinerary of item.items) { %>
        <li> <%= itinerary %> </li>
        <% } %> 
        </ul>
        
        <p> Recommended amount of days: <%= item.days %></p>
        <p> <%= item.location %></p>
        <p> Created by <%= item.author.username %></p>
    </div>
    </div>
</div></section>

    <section class='buttons'>
    <button class="btn btn-success mb-2"><a id='return' href="/itinerary">Return</a></button>


    <% if (currentUser && String(item.author._id) == String(currentUser._id)) { %>
    <form action="/itinerary/<%= item.id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger mb-2">Delete</button>
    </form>
    <form action="/itinerary/<%= item.id%>/edit" method='PUT'>
        <button  class="btn btn-primary mb-2" >Edit</button>
    </form>
    <% } %> 
    
    </section>
    
    <% if (item.yelp) { %>
    <h2>Popular foods around the area!</h2>
    <div class="glide multi">
    <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">

    <div class="format">
    <% for(let food of item.yelp) { %>
    <li class="glide__slide">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=<%= food.image_url %>  width='200' height='200'> alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= food.name %></h5>
          <p class="card-text">Rating: <%= food.rating %>/5</p>
          <p class="card-text">Address: <%= food.location.display_address %></p>
          <p class="card-text">Categories: <%= food.categories[0].alias %></p>
          <a href=<%= food.url %> class="btn btn-primary">Go Yelp Page!</a>
        </div>
    </div>
    </li>
    <% } %>
    <% } %> 
    </div>

    </ul>
    </div> 
    </div>


    <% if (item.comments) { %>
    <h2>Comments</h2>
    <ul class="list-group list-group-flush">
    <% for(let response of item.comments) { %>

        <li class="list-group-item ">
            <%= response.comment %> by <%= response.author.username %> on <%= response.date %>
            <% if (currentUser && String(response.author._id) == String(currentUser._id)) { %>
                <form action="/itinerary/<%= item.id%>/comment/<%= response._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            <% } %>
        </li>

    <% } %>
    </ul>
    <% } %>



    <% if (currentUser) { %>
    <form action="/itinerary/<%= item.id%>/comment/" method="POST" >
        <div class="form-group">
            <label for="response">Comment</label>
            <input class="form-control" type="text" id='name' name='response'>    
        </div>
      <input type="submit" value='submit' class="btn btn-primary">
    </form>

    <% } else { %>
        Login to leave a comment
    <% } %>

    <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">0</li>
            <li class="glide__slide">1</li>
            <li class="glide__slide">2</li>
          </ul>
        </div>
      </div>
      <script src="/scripts/view.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
</body>
</html>