<% layout('layout/boilerplate-view') %>

<!-- FINISHED  --> 

<body>

    <% if(success && success.length) {%>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
    <% } %>

    <% if(failure && failure.length) {%>
        <div class="alert alert-danger" role="alert">
            <%= failure %>
        </div>
    <% } %>

<section id='info'>
    <h1><%= item.title %></h1>
    <div class="row">

    <div class="col-sm">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <% item.images.forEach((pic, i) => { %>
                <div class="carousel-item<% if (i==0) { %> active<% } %>">
                    <img class="d-block w-100 picture" src="<%= pic.url %>">
                </div>
                <% }) %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
        </div>
        <div id='short'>
            <p><%= item.short %></p>
            <p>Best for <%= item.traveler %></p>
            <p>Trip Type - <%= item.theme %></p>

        </div>

    
    </div>

    <div class="col-sm">
        <p><%= item.description %></p>
        <ul>
        <% for(let itinerary of item.items) { %>
        <li> <%= itinerary %> </li>
        <% } %> 
        </ul>
        
        <p> Recommended amount of days: <%= item.days %></p>
        <p> Location: <%= item.location %></p>
        <p> Created by: <%= item.author.username %></p>
        <p> Notes: <%= item.notes %></p>
    <div class="container buttons">
        <div class="row align-items-end">
            <% if (currentUser && String(item.author._id) == String(currentUser._id)) { %>
            <div class="col-sm">
                <form action="/itinerary/<%= item.id%>/edit" method='PUT'>
                    <button  class="btn btn-primary mb-2" >Edit Information</button>
                </form>
            </div> 
            <div class="col-sm">
                <form action="/itinerary/<%= item.id%>/edit_photos" method='PUT'>
                    <button class="btn btn btn-info mb-2" >Edit Photos</button>
                </form>
            </div>
            <div class="col-sm">
                <form action="/itinerary/<%= item.id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger mb-2">Delete</button>
                </form>
            </div>
            <% } %>      
            <div class="col-sm">
                <button class="btn btn-success mb-2"><a id='return' href="/itinerary">Return</a></button>
            </div>   
        </div>
    </div>
    
    </div>
    </div>
</section>


    <% if (item.yelp) { %>
    <h2>Popular foods around the area!</h2>
    <div class="glider-contain">
    <div class="glider">
        <% for(let food of item.yelp) { %>
          <div><div class="card" style="width: 18rem;">
            <img class="card-img-top" src=<%= food.image_url %>  width='200' height='200'>
            <div class="card-body">
              <h5 class="card-title"><%= food.name %></h5>
              <p class="card-text">Rating: <%= food.rating %>/5</p>
              <p class="card-text">Address: <%= food.location.display_address %></p>
              <p class="card-text">Categories: <%= food.categories[0].alias %></p>
              <a href=<%= food.url %> class="btn btn-primary">Go Yelp Page!</a>
            </div>
        </div></div>
        <% } %>
    </div>
      
    <button aria-label="Previous" class="glider-prev">«</button>
    <button aria-label="Next" class="glider-next">»</button>
    <div role="tablist" class="dots"></div>
    </div>
    
    <% } %>

    <% if (item.comments) { %>
    <h2>Comments</h2>
    <ul class="list-group list-group-flush">
    <% for(let response of item.comments) { %>

        <li class="list-group-item ">
            <%= response.comment %> by <%= response.author.username %> on <%= response.date %>
            <% if (currentUser && String(response.author._id) == String(currentUser._id)) { %>
                <form action="/itinerary/<%= item.id%>/comment/<%= response._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            <% } %>
        </li>

    <% } %>
    </ul>
    <% } %>



    <% if (currentUser) { %>
    <form action="/itinerary/<%= item.id%>/comment/" method="POST" >
        <div class="form-group">
            <input class="form-control" type="text" id='name' name='response'>    
        </div>
      <input type="submit" value='submit' class="btn btn-primary">
    </form>

    <% } else { %>
        <a href='/user/login'>Login</a> to leave a comment
    <% } %>

    <script src="/scripts/view.js"></script>

</body>
</html>