<% layout('layout/boilerplate-view-all') %>


<body>
    <h1>ALL ITEM</h1>

    <% if(success && success.length) {%>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
    <% } %>

    <% if(failure && failure.length) {%>
        <div class="alert alert-danger" role="alert">
            <%= failure %>
        </div>
    <% } %>
<img src="" alt="">
    <div class="format">
        
    <% for(let itinerary of allItinerary) { %>
    <span class="card" style="width: 25%;">
            <% if (itinerary.images.length >= 1) {  %>

            <img src=<%= itinerary.images[0].url %> alt="Card image cap" width='100%' height='50%'>
           
            <% } else {  %>
            
            <img src="/img/sample1.jpg" alt="Card image cap" width='100%' height='50%'>
            <%    }    %>
        <div class="card-body">
        <h5 class="card-title"><%= itinerary.title %></h5>
        <p class="card-text"><%= itinerary.location %></p>
        <p class="card-text"><%= itinerary.short %></p>
        <p class="card-text">Days: <%= itinerary.days %></p>
        <p class="card-text">Best for <%= itinerary.traveler %></p>
        <p class="card-text">Trip Type: <%= itinerary.theme %></p>
        <a href="/itinerary/<%=itinerary._id%>" class="btn btn-primary">View Details</a>  
    </div>
    </span>
    <% } %> 
    </div>
    
</body>
</html>